<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RelationalFloridum_GUI.Properties.Settings.FloridumDbConnectionString"
            connectionString="Data Source=inohiro-vmwin\SQLEXPRESS;Initial Catalog=FloridumDb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="RelationalFloridum_GUI.Properties.Settings.masterConnectionString"
            connectionString="Data Source=inohiro-vmwin\sqlexpress;Initial Catalog=master;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>